<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565667019164-g9b4q79e3strhh0o37tk396rcsjf78p5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565667019164-g9b4q79e3strhh0o37tk396rcsjf78p5</string>
	<key>API_KEY</key>
	<string>AIzaSyCkYJzf09xcdn1yZMX968sl91VKGwE8B5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>565667019164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timeCapsuleFlutter</string>
	<key>PROJECT_ID</key>
	<string>time-capsule-b9ad2</string>
	<key>STORAGE_BUCKET</key>
	<string>time-capsule-b9ad2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565667019164:ios:b78785835b506b6416b059</string>
</dict>
</plist>